<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
    <a class="navbar-brand"
       href="#">Navbar</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"
                   href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2"
                   type="text"
                   placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0"
                    type="submit">Search
            </button>
        </form>
    </div>
</nav>

<div class="container">
    <button type="button"
            class="btn btn-primary btn-sm btn-block mb-3"
            (click)="callStrapi()">Refresh from Strapi
    </button>

    <ng-container *ngFor="let restaurant of data">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <svg class="bd-placeholder-img"
                         width="100%"
                         height="100%"
                         xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice"
                         focusable="false"
                         role="img"
                         aria-label="Placeholder: Image"><title>Placeholder</title>
                        <rect width="100%"
                              height="100%"
                              fill="#868e96"></rect>
                    </svg>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{restaurant.name}}</h5>
                        <p class="card-text">{{restaurant.description}}</p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-hover" *ngIf="restaurant.dishes.length > 0">
            <thead>
            <tr>
                <th scope="col">Dish</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dish of restaurant.dishes">
                <th scope="row">{{dish.dishName}}</th>
                <td>{{dish.description}}</td>
                <td>{{dish.prices[0]?.value | currency:'EUR'}}</td>
            </tr>
            </tbody>
        </table>
    </ng-container>
</div>
